@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

#link{
   
    align-content: center;
    text-decoration: none;
    margin-left: 20px;
    
}
#link:active{
    background-color: aqua;
}
#container{
    font-weight: 700;
    font-size: 20px;
}
#link:hover{
    background-color: rgb(192, 15, 103);
    border-radius: 20px;
    transition-delay: 80ms;
}

 
#h1 {
    color: #3498db;
    font-family:"Angkor", serif;

    text-align: center;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease-in-out; 
}
  
  #h1:hover {
    color: #e74c3c;
    cursor: pointer;
  }
  
  #h1 {
    border-bottom: 2px solid #3498db; 
    padding-bottom: 5px;
  }
  
  #h1 {
    background-color: #f2f7f9; 
    padding: 5px; 
    border-radius: 10px;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out; 
  }
  
  #h1:hover {
    background-color: #dfe6eb; }

      
      .heading-container {
        background-color: #f2f7f9;
        padding: 10px;
        border-radius: 20px;
        backdrop-filter: blur(50px);
        transition: background-color 0.3s ease-in-out;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: inline-block;
        width: 100%;
        margin: 0 auto;
       
        overflow: hidden;
      }
      
      .heading-container:hover {
        background-color: #dfe6eb;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
       
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
      }
      
      
      .heading-container:hover {
        border-color: #e74c3c;
        transition: border-color 0.3s ease-in-out;
      }
      #card-1{
        background-image: linear-gradient(50deg,rgb(227, 129, 221),rgb(239, 203, 203),rgb(148, 243, 148));
      }
      #card-2{
        background-image: linear-gradient(50deg,rgb(249, 186, 186),rgb(239, 203, 203),rgb(245, 155, 11));
      }
      #card-3{
        background-image: linear-gradient(50deg,rgb(122, 104, 201),rgb(239, 203, 203),rgb(189, 209, 10));
      }
      #h3{
        font-family:"Angkor", serif;
        font-size: 25px;

      }
    
    #subr{
     
      color: black;
      font-weight: 800;
    }
  #h3{
    text-align: center;
    margin-top: 5px;
    color:darkmagenta;
  }
  #submit-btn{
    width:50%;
  }