.college-info-container {
   
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; 
    border-radius: 20px;
   
    
  }
  
  .title {
    color: #007bff;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .content {
    line-height: 1.6;
    margin-bottom: 30px;
font-weight: 500;
  }
  
  .learn-more-button {
    display: block;
    margin: 0 auto;
    animation: pulse 1.5s infinite;
    background-color: #007bff; /* Primary button color */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .bg{
    
    width:100%;
    height: 500px;
   position: fixed;
  
  }
  .float {
    position: fixed;
    background-color: brown;
    margin-left: 0;
  }
  
  .hide {
    display: none;
  }
      
  .float:hover + .hide {
    display: block;
    color: red;
  }